<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MailOutExcel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <MailOutExcel.Properties.Settings>
            <setting name="FullNameFileExcel" serializeAs="String">
                <value>Полный путь к файлу с расширением</value>
            </setting>
            <setting name="ColumnIndexCounterparty" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ColumnIndexFinishDate" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MailServer" serializeAs="String">
                <value>Название почтового сервера</value>
            </setting>
            <setting name="FullNameFileSaveTemp" serializeAs="String">
                <value>Полный путь к результирующему файлу с расширением</value>
            </setting>
            <setting name="OldDay" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="IsSendEmptyBody" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainSendNotEmptyBodyMess" serializeAs="String">
                <value>Заголовок если письмо не пусто</value>
            </setting>
            <setting name="MainSendEmptyBodyMess" serializeAs="String">
                <value>Заголовок если письмо пусто</value>
            </setting>
            <setting name="MailAddressFrom" serializeAs="String">
                <value>Почтовый адрес отправителя</value>
            </setting>
            <setting name="MailAddressTo" serializeAs="String">
                <value>Почтовые адреса получателя через ;</value>
            </setting>
        </MailOutExcel.Properties.Settings>
    </applicationSettings>
</configuration>
